[[bench]]
name = "spec_benchmarks"
harness = false

[package]
name = "vegafusion-runtime"
license = "BSD-3-Clause"
edition = "2021"
version = "1.3.0-rc3"
description = "VegaFusion Runtime"

[features]
pyarrow = [ "vegafusion-core/pyarrow",]
protobuf-src = [ "vegafusion-core/protobuf-src",]

[dependencies]
regex = "^1.5.5"
lazy_static = "^1.4.0"
serde_json = "1.0.91"
chrono = "0.4.23"
chrono-tz = "0.8.1"
prost = "0.11.3"
prost-types = "0.11.2"
num-traits = "0.2.15"
itertools = "0.10.3"
float-cmp = "0.9.0"
lru = "0.10.0"
futures = "0.3.21"
async-trait = "0.1.53"
async-recursion = "1.0.4"
async-lock = "2.5.0"
tempfile = "3.3.0"
futures-util = "0.3.21"
bytes = "1.1.0"
deterministic-hash = "1.0.1"
log = "0.4.17"
env_logger = "0.10.0"
ordered-float = "3.6.0"
reqwest-retry = "0.2.1"
reqwest-middleware = "0.2.0"

[dev-dependencies]
futures = "0.3.21"
futures-util = "0.3.21"
rstest = "0.17.0"
test-case = "3.1.0"
base64 = "0.21.0"
dssim = "3.1.0"
rgb = "0.8.32"
lodepng = "3.6.1"

[dependencies.uuid]
version = "^1.2"
features = [ "v4",]

[dependencies.sqlparser]
version = "0.33.0"

[dependencies.vegafusion-common]
path = "../vegafusion-common"
features = [ "json", "sqlparser", "prettyprint",]
version = "1.3.0-rc3"

[dependencies.vegafusion-core]
path = "../vegafusion-core"
features = [ "sqlparser",]
version = "1.3.0-rc3"

[dependencies.vegafusion-datafusion-udfs]
path = "../vegafusion-datafusion-udfs"
version = "1.3.0-rc3"

[dependencies.vegafusion-dataframe]
path = "../vegafusion-dataframe"
version = "1.3.0-rc3"

[dependencies.serde]
version = "1.0.137"
features = [ "derive",]

[dependencies.datafusion-common]
version = "24.0.0"

[dependencies.datafusion-expr]
version = "24.0.0"

[dependencies.datafusion-physical-expr]
version = "24.0.0"

[dependencies.datafusion-optimizer]
version = "24.0.0"

[dependencies.tokio]
version = "1.27.0"
features = [ "macros", "rt-multi-thread", "fs",]

[dependencies.reqwest]
version = "0.11.10"
default_features = false
features = [ "rustls-tls",]

[dev-dependencies.reqwest]
version = "0.11.10"
default_features = false
features = [ "blocking", "rustls-tls",]

[dev-dependencies.criterion]
version = "0.4.0"
features = [ "async_tokio",]

[dev-dependencies.vegafusion-sql]
path = "../vegafusion-sql"
version = "1.3.0-rc3"
features = [ "datafusion-conn",]
