[workspace]
resolver = "2"
members = [
  "vegafusion-common",
  "vegafusion-core",
  "vegafusion-runtime",
  "vegafusion-dataframe",
  "vegafusion-datafusion-udfs",
  "vegafusion-sql",
  "vegafusion-python",
  "vegafusion-wasm",
  "vegafusion-server",
]

[workspace.dependencies]
arrow = { version = "52.2.0", default-features = false }
sqlparser = { version = "0.49.0" }
chrono = { version = "0.4.35", default-features = false }
chrono-tz = { version = "0.9.0", features = [
  "case-insensitive",
  "filter-by-regex",
] }
reqwest = { version = "0.11.22", default-features = false }
tokio = { version = "1.36.0" }
pyo3 = { version = "0.21.1" }
pythonize = { version = "0.21.1" }
prost = { version = "0.12.3" }
prost-types = { version = "0.12.3" }
object_store = { version = "0.10.1" }

[workspace.dependencies.datafusion]
version = "41.0.0"

[workspace.dependencies.datafusion-common]
version = "41.0.0"

[workspace.dependencies.datafusion-expr]
version = "41.0.0"

[workspace.dependencies.datafusion-proto]
version = "41.0.0"

[workspace.dependencies.datafusion-proto-common]
version = "41.0.0"

[workspace.dependencies.datafusion-physical-expr]
version = "41.0.0"

[workspace.dependencies.datafusion-optimizer]
version = "41.0.0"

[workspace.dependencies.datafusion-functions]
version = "41.0.0"

[workspace.dependencies.datafusion-functions-nested]
version = "41.0.0"

[workspace.dependencies.datafusion-functions-aggregate]
version = "41.0.0"

[profile.release]
## Tell `rustc` to use highest performance optimization and perform Link Time Optimization
opt-level = 3
# lto = true
