[workspace]
resolver = "2"
members = [
  "vegafusion-common",
  "vegafusion-core",
  "vegafusion-runtime",
  "vegafusion-python",
  "vegafusion-wasm",
  "vegafusion-server",
]

[workspace.dependencies]
arrow = { version = "53.1.0", default-features = false }

sqlparser = { version = "0.50.0" }
chrono = { version = "0.4.35", default-features = false }
chrono-tz = { version = "0.9.0", features = [
  "case-insensitive",
  "filter-by-regex",
] }
deterministic-hash = "1.0.1"
reqwest = { version = "0.12.8", default-features = false }
reqwest-middleware = { version = "0.3" }
reqwest-retry = "0.6"
tokio = { version = "1.36.0" }
pyo3 = { version = "0.22.4" }
pythonize = { version = "0.22" }
pyo3-arrow = { version = "0.5.1", default-features = false }
prost = { version = "0.12.3" }
prost-types = { version = "0.12.3" }
object_store = { version = "0.11.0" }
lazy_static = { version = "1.5" }
async-trait = "0.1.73"
futures = "0.3.21"
url = "2.3.1"

[workspace.dependencies.serde_json]
version = "1.0.91"
default-features = false

[workspace.dependencies.datafusion]
version = "42.0.0"
default-features = false
features = ["parquet", "nested_expressions"]

[workspace.dependencies.datafusion-common]
version = "42.0.0"
# no default features

[workspace.dependencies.datafusion-expr]
version = "42.0.0"
# no default features

[workspace.dependencies.datafusion-proto]
version = "42.0.0"
default-features = false
features = ["parquet"]

[workspace.dependencies.datafusion-proto-common]
version = "42.0.0"
default-features = false

[workspace.dependencies.datafusion-physical-expr]
version = "42.0.0"
default-features = false

[workspace.dependencies.datafusion-optimizer]
version = "42.0.0"
default-features = false

[workspace.dependencies.datafusion-functions]
version = "42.0.0"
default-features = false

[workspace.dependencies.datafusion-functions-nested]
version = "42.0.0"
# no default features

[workspace.dependencies.datafusion-functions-aggregate]
version = "42.0.0"
# no default features

[workspace.dependencies.datafusion-functions-window]
version = "42.0.0"
# no default features

# Profile with good speed for local development and testing
[profile.release]
opt-level = 3

# Profile optimized for speed and small size,
# but takes a long time to compile
[profile.release-opt]
inherits = "release"
opt-level = 3
codegen-units = 1
lto = "fat"
strip = "debuginfo"

# Profile optimized for minimizing size for wasm builds
# Unfortunately, wasm-pack can't use this directly yet.
# See https://github.com/rustwasm/wasm-pack/issues/1111
[profile.release-small]
inherits = "release"
opt-level = "z"
codegen-units = 1
