[package]
name = "vegafusion-dataframe"
license = "BSD-3-Clause"
version = "1.4.0-rc2"
edition = "2021"
description = "VegaFusion's DataFrame and Connection traits"

[dependencies]
async-trait = "0.1.53"

[dependencies.vegafusion-common]
path = "../vegafusion-common"
version = "1.4.0-rc2"

[dependencies.datafusion-common]
version = "26.0.0"

[dependencies.datafusion-expr]
version = "26.0.0"

[dependencies.arrow]
version = "40.0.0"
default_features = false
