[package]
name = "vegafusion-dataframe"
license = "BSD-3-Clause"
version = "1.4.0"
edition = "2021"
description = "VegaFusion's DataFrame and Connection traits"

[dependencies]
async-trait = "0.1.73"

[dependencies.vegafusion-common]
path = "../vegafusion-common"
version = "1.4.0"

[dependencies.datafusion-common]
version = "28.0.0"

[dependencies.datafusion-expr]
version = "28.0.0"

[dependencies.arrow]
version = "43.0.0"
default_features = false
