[package]
name = "vegafusion-dataframe"
license = "BSD-3-Clause"
version = "1.4.0-rc4"
edition = "2021"
description = "VegaFusion's DataFrame and Connection traits"

[dependencies]
async-trait = "0.1.53"

[dependencies.vegafusion-common]
path = "../vegafusion-common"
version = "1.4.0-rc4"

[dependencies.datafusion-common]
version = "27.0.0"

[dependencies.datafusion-expr]
version = "27.0.0"

[dependencies.arrow]
version = "42.0.0"
default_features = false
