[[bin]]
name = "vegafusion-server"
path = "src/main.rs"

[package]
name = "vegafusion-server"
license = "BSD-3-Clause"
version = "1.6.6"
edition = "2021"
description = "VegaFusion Server"

[features]
protobuf-src = [ "vegafusion-core/protobuf-src", "dep:protobuf-src",]

[dependencies]
futures-util = "0.3.21"
regex = "^1.5.5"
h2 = "0.3.16"

[dev-dependencies]
serde_json = "1.0.91"
assert_cmd = "2.0"
predicates = "3.0.2"

[build-dependencies]
tonic-build = "0.10.2"
prost-build = "0.12.1"

[dependencies.prost]
workspace = true

[dependencies.vegafusion-common]
path = "../vegafusion-common"
version = "1.6.6"

[dependencies.vegafusion-core]
path = "../vegafusion-core"
features = [ "tonic_support",]
version = "1.6.6"

[dependencies.vegafusion-runtime]
path = "../vegafusion-runtime"
version = "1.6.6"

[dependencies.vegafusion-sql]
path = "../vegafusion-sql"
version = "1.6.6"
features = [ "datafusion-conn",]

[dependencies.tokio]
workspace = true
features = [ "rt-multi-thread", "macros",]

[dependencies.tonic-web]
version = "0.10.2"

[dependencies.tonic]
version = "0.10.2"
features = [ "tls",]

[dependencies.clap]
version = "4.2.1"
features = [ "derive",]

[build-dependencies.protobuf-src]
version = "1.1.0"
optional = true
