[package]
name = "vegafusion-core"
license = "BSD-3-Clause"
edition = "2021"
version = "1.3.0-rc3"
description = "Core components required by multiple VegaFusion crates, with WASM compatibility"

[features]
tonic_support = [ "tonic", "tonic-build",]
pyarrow = [ "pyo3", "datafusion-common/pyarrow", "vegafusion-common/pyarrow",]

[dependencies]
thiserror = "^1.0.29"
bytes = "1.1.0"
prost = "0.11.3"
prost-types = "0.11.2"
itertools = "0.10.3"
lazy_static = "^1.4.0"
regex = "^1.5.5"
ordered-float = "3.6.0"
petgraph = "0.6.0"
deterministic-hash = "1.0.1"
chrono = "0.4.23"
num-complex = "0.4.2"
rand = "0.8.5"
json-patch = "1.0.0"

[dependencies.sqlparser]
version = "0.33.0"
optional = true

[dependencies.serde_json]
version = "1.0.91"
features = [ "preserve_order",]

[dependencies.vegafusion-common]
path = "../vegafusion-common"
features = [ "json", "sqlparser",]
version = "1.3.0-rc3"

[dependencies.datafusion-common]
version = "24.0.0"

[dependencies.pyo3]
version = "0.18.1"
optional = true

[dependencies.serde]
version = "1.0.137"
features = [ "derive",]

[dependencies.tonic]
version = "0.9.1"
optional = true

[build-dependencies.prost-build]
version = "0.11.4"

[build-dependencies.tonic-build]
version = "0.9.1"
optional = true

[build-dependencies.protobuf-src]
version = "1.1.0"
optional = true
