[package]
name = "vegafusion-core"
version = "0.3.0"
edition = "2021"
license = "AGPL-3.0-or-later"

[features]
tonic_support = [ "tonic", "tonic-build",]

[dependencies]
thiserror = "^1.0.29"
bytes = "1.1.0"
prost = "0.10.3"
prost-types = "0.10.1"
itertools = "0.10.3"
lazy_static = "^1.4.0"
regex = "^1.5.5"
serde_json = "1.0.81"
ordered-float = "^2.10.0"
petgraph = "0.6.0"
deterministic-hash = "1.0.1"
chrono = "0.4.19"

[build-dependencies.prost-build]
version = "0.10.3"
features = ["vendored"]

[dependencies.arrow]
version = "13.0.0"
default_features = false
features = [ "ipc",]

[dependencies.datafusion-common]
git = "https://github.com/jonmmease/arrow-datafusion.git"
rev = "f3e87d8dde2ffb1d622fc30d53a1330b335dbc9b"

[dependencies.pyo3]
version = "0.16.4"
optional = true

[dependencies.serde]
version = "1.0.137"
features = [ "derive",]

[dependencies.tonic]
version = "0.7.2"
optional = true

[build-dependencies.tonic-build]
version = "0.7.2"
optional = true
