include LICENSE.txt
include README.md

include pyproject.toml
include pytest.ini
include .coverage.rc

include tsconfig.json
include package.json
include webpack.config.js
include webpack.config.experimental.js
include vegafusion_jupyter/labextension/*.tgz

# Javascript files
graft vegafusion_jupyter/nbextension
graft src
graft css
prune node_modules
prune **/node_modules
prune coverage
prune lib

# Prune Others
prune tests
prune examples
prune dist
prune docs

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
