[package]
name = "vegafusion-common"
version = "1.2.4"
edition = "2021"
description = "Common components required by multiple VegaFusion crates"
license = "BSD-3-Clause"

[features]
pyarrow = [ "pyo3",]
json = [ "serde_json", "arrow/json", "chrono",]
prettyprint = [ "arrow/prettyprint",]

[dependencies]
thiserror = "^1.0.29"

[dependencies.chrono]
version = "0.4.23"
optional = true

[dependencies.sqlparser]
version = "0.33.0"
optional = true

[dependencies.serde_json]
version = "1.0.91"
default_features = false
optional = true

[dependencies.arrow]
version = "38.0.0"
default_features = false
features = [ "ipc",]

[dependencies.datafusion-common]
version = "24.0.0"

[dependencies.datafusion-expr]
version = "24.0.0"

[dependencies.pyo3]
version = "0.18.1"
optional = true
